<link rel="stylesheet" href="assets/css/item.css">
<div class="wrapper">
    <div class="canvas">

        <div class="menu">
            <div class="bag">
                <span class="icon_bag">
                    <img src="assets/img/icon_bag.png">
                    <span class="qty">3</span>
                </span>
                <span class="txt">Sacola</span>
            </div>
            <div class="item_bag">
                <div class="i">
                    <img src="assets/img/img_bag_1.jpg" alt="">
                </div>
                <div class="p">
                    <div class="title">Camiseta Corinthians College 77</div>
                    <span class="size">GGG |</span>  <span class="color">Preto e branco</span>
                    <div class="qty">Quantidade: <span class="value">3</span></div>
                </div>
                <div class="x">
                    <span class="btn"></span>
                    <span class="value">R$ 149,90</span>
                </div>
            </div>
        </div>
        <div class="cart">
            <a href="#" class="toggle-menu btn">Abrir carrinho</a>
        </div>
        <div class="item-list">
            <div class="item" data-sku="">
                <a class="i card-link" title="{{product.title}}" href="{{product.link}}">
                    <img src="assets/img/img_1.jpg">
                </a>
                <div class="title">
                    <a class="n card-link" href="{{product.link}}">
                        <span itemprop="name">{{product.title}}</span>
                    </a>
                </div>
                <div class="price">
                    <a href="{{product.link}}">
                        <span class="full-mounted-price">
                            <span>
                                <small>R$ </small>149,
                                <small>90</small>
                            </span>
                        </span>
                    </a>
                </div>
                <a class="in parceling" href="{{product.link}}">ou 5x de R$ 29,98</a>
            </div>
            <div class="item" data-sku="">
                <a class="i card-link" title="{{product.title}}" href="{{product.link}}">
                    <img src="assets/img/img_1.jpg">
                </a>
                <div class="title">
                    <a class="n card-link" href="{{product.link}}">
                        <span itemprop="name">{{product.title}}</span>
                    </a>
                </div>
                <div class="price">
                    <a href="{{product.link}}">
                        <span class="full-mounted-price">
                            <span>
                                <small>R$ </small>149,
                                <small>90</small>
                            </span>
                        </span>
                    </a>
                </div>
                <a class="in parceling" href="{{product.link}}">ou 5x de R$ 29,98</a>
            </div>
            <div class="item" data-sku="">
                <a class="i card-link" title="{{product.title}}" href="{{product.link}}">
                    <img src="assets/img/img_1.jpg">
                </a>
                <div class="title">
                    <a class="n card-link" href="{{product.link}}">
                        <span itemprop="name">{{product.title}}</span>
                    </a>
                </div>
                <div class="price">
                    <a href="{{product.link}}">
                        <span class="full-mounted-price">
                            <span>
                                <small>R$ </small>149,
                                <small>90</small>
                            </span>
                        </span>
                    </a>
                </div>
                <a class="in parceling" href="{{product.link}}">ou 5x de R$ 29,98</a>
            </div>

        </div>
    </div>
</div>


<script>
    // elementos auxiliares
    var toogleMenu = document.querySelectorAll('.toggle-menu'),
        wrapper = document.querySelector('.wrapper');

    // criando evento de click para abrir o menu
    for (var i = 0; i < toogleMenu.length; i++) {
        toogleMenu[i].addEventListener('click', menuAction);
    }

    // função auxiliar que abre e fecha o menu
    function menuAction() {
        if (wrapper.classList.contains('show-menu')) {
            wrapper.classList.remove('show-menu');
        }
        else {
            wrapper.classList.add('show-menu');
        }
    }
</script>