@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.item-list{
    display: block;
    width: 100%;
    max-width: 680px;
    text-align: center;
    margin: 0 auto;
}

.item{
    display: inline-block;
    width: 26.47%;
    margin-right: 6.4%;
    margin-top: 60px;
    font-size: 14px;
}
.item a{
    color: inherit;
    text-decoration: none;
}
.item .i img{
    width: 100%;
    height: auto;
}
.item .title{
    margin-top: 15px;
    font-size: 1em;
    line-height: 1em;
    color: #313135;
    font-weight: 
}
.item .title:after{
    content: "";
    width: 15px;
    height: 3px;
    background-color: #dfbd00;
    display: block;
    margin: 10px auto;
}
.item .price{
    font-size: 1.7em;
    color: #313135;
    text-decoration: none;
}
.item .price a{
    text-decoration: none;
}
.item .price span{
    font-weight: 700;
    text-decoration: none;
}
.item .price small{
    font-weight: 400;
    font-size: .5em;
}

.item .parceling{
    color: #999;
    font-weight: 600;
}


.wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.canvas {
    height: 100%; 
}

.menu {
    height: 100%;
    position: absolute;
    transform: translateX(100%);
    right: 0;
    width: 510px;
    background: #202025;
    transition: .3s ease all;
}
.wrapper.show-menu .menu {
    transform: translateX(0%);
}

.bag{
    text-align: center;
    padding: 50px 0px;
}
.bag .icon_bag{
    position: relative;
}
.bag .icon_bag .qty{
    border-radius: 100%;
    background: #dfbd00;
    font-size: .85em;
    position: absolute;
    color: #000;
    padding: 0.8px 6px;
    bottom: -2px;
    right: -3px;
}
.bag .txt{
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 1.7em;
    margin-left: 20px;
}
.item_bag{
    padding: 25px 20px;
    border-top: 1px solid #000;
}

.item_bag > div{
    display: inline-block;
}
.item_bag .i{
    margin-right: 20px;
}
.item_bag .p{
    margin-right: 50px;
}
.item_bag .p *:not(.title){
    font-weight: 400;
    color: #999;
    font-size: .85em;
}

.item_bag .p .title{
    font-weight: 600;
    color: #fff;
}
.item_bag .x{
    text-align: right;
    float: right;
}
.item_bag .x .btn{
    width: 14px;
    height: 14px;
    display: block;
    text-align: right;
    background: url(../img/btn_close.png)
}
.item_bag .x .value{
    color: #dfbd00;
}

